.flipCard {
  background-color: transparent;
  width: 240px;
  height: 154px;
  perspective: 1000px;
  color: white;
}

.heading_8264 {
  position: absolute;
  color: #9d8b4e;
  font-size: 0.95em;
  top: 0.75em;
  right: 1.5em;
  font-weight: 550;
  text-shadow: -0.2px -0.2px 0.2px white, 0.2px -0.2px 0.2px gray,
    -0.2px 0.2px 0.2px white, 0.2px 0.2px 0.2px gray;
}

@font-face {
    font-family: 'Farrington 7B';
    src: url('../../../public/Farrington-7B.ttf') format('truetype');
}

.logo {
  position: absolute;
  top: 6.8em;
  left: 11.7em;
}

.chip {
  position: absolute;
  height: 3em;
  weight: 3em;
  top: 3em;
  left: 1.5em;
}

.contactless {
  position: absolute;
  top: 4.8em;
  right: 0.1em;
}

.number {
  position: absolute;
  color: #9d8b4e;
  font-weight: 600;
  font-size: 0.55em;
  font-family: 'Farrington 7B';
  letter-spacing: 1px;
  top: 10em;
  left: 3em;
}

.date_8264 {
  position: absolute;
  color: #9d8b4e;
  font-weight: 600;
  font-size: 0.55em;
  font-family: 'Farrington 7B';
  letter-spacing: 1px;
  top: 13.5em;
  left: 3em;
}

.cvc_number {
  position: absolute;
  color: #9d8b4e;
  font-weight: 600;
  font-size: 0.55em;
  font-family: 'Farrington 7B';
  letter-spacing: 1px;
  top: 13.5em;
  left: 10.3em;
}

.cvc {
  position: absolute;
  color: #9d8b4e;
  font-weight: 600;
  font-size: 0.45em;
  font-family: 'Farrington 7B';
  top: 15.9em;
  left: 15.7em;
}

.exp {
  position: absolute;
  color: #9d8b4e;
  font-weight: 600;
  font-size: 0.45em;
  font-family: 'Farrington 7B';
  top: 15.9em;
  left: 8.5em;
}

.name {
  position: absolute;
  font-weight: 550;
  font-size: 11px;
  top: 10.9em;
  left: 2.2em;
  color: #9d8b4e;
}

.strip {
  position: absolute;
  background-color: #edcb71;
  width: 15em;
  height: 2.25em;
  top: 30px;
  background: repeating-linear-gradient(
    45deg,
    #edcb71,
    #edcb71 10px,
    #d1b665 10px,
    #d1b665 20px
  );
}

.flipCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flipCard:hover .flipCardInner {
  transform: rotateY(180deg);
}

.flipCardFront, .flipCardBack {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 1rem;
}

.flipCardFront {
  background: linear-gradient(135deg, #edcb78, #f7e4b2, #fee08b);
  border: 1px solid gold;
}

.flipCardBack {
  background: linear-gradient(135deg, #fee08b, #f7e4b2, #edcb78);
  transform: rotateY(180deg);
}
