.flipCard {
  background-color: transparent;
  width: 240px;
  height: 154px;
  perspective: 1000px;
  color: white;
  place-self: center;
}

.flipCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flipCard:hover .flipCardInner {
  transform: rotateY(180deg);
}

.flipCardFront, .flipCardBack {
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 1rem;
}

.flipCardFront {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
  background-color: #171717;
}

.flipCardBack {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
  background-color: #171717;
  transform: rotateY(180deg);
}

@font-face {
    font-family: 'Farrington 7B';
    src: url('../public/Farrington-7B.ttf') format('truetype');
}

.heading {
  position: absolute;
  font-size: 0.9em;
  top: 0.75em;
  right: 1.5em;
  font-weight: 550;
  text-shadow: -0.2px -0.2px 0.2px white, 0.2px -0.2px 0.2px gray,
    -0.2px 0.2px 0.2px white, 0.2px 0.2px 0.2px gray;
}

.logo {
  position: absolute;
  top: 6.8em;
  right: 1.2em;
}

.chip {
  position: absolute;
  weight: 50px;
  height: 50px;
  top: 1em;
  left: 1em;
}

.contactless {
  position: absolute;
  top: 4em;
  left: 12.2em;
}

.number {
  position: absolute;
  font-size: .5em;
  font-family: 'Farrington 7B';
  letter-spacing: 1px;
  top: 9em;
  left: 2.2em;
}

.validThru {
  position: absolute;
  font-weight: bold;
  top: 635.8em;
  font-size: .01em;
  left: 140.3em;
}

.date {
  position: absolute;
  font-size: 0.5em;
  font-family: 'Farrington 7B';
  letter-spacing: 1px;
  top: 12.2em;
  left: 2.2em;
}

.name {
  position: absolute;
  font-weight: bold;
  font-family: 'Arial';
  font-size: 0.6em;
  top: 12.8em;
  left: 1.8em;
}

.strip {
  position: absolute;
  background-color: black;
  width: 15em;
  height: 1.5em;
  top: 2.4em;
  background: repeating-linear-gradient(
    45deg,
    #303030,
    #303030 10px,
    #202020 10px,
    #202020 20px
  );
}

.mstrip {
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 8em;
  height: 0.8em;
  top: 5em;
  left: .8em;
  border-radius: 2.5px;
}

.sstrip {
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 4.1em;
  height: 0.8em;
  top: 5em;
  left: 10em;
  border-radius: 2.5px;
}

.code {
  font-weight: bold;
  text-align: center;
  font-family: 'Farrington 7B';
  font-size: 0.66em;
  margin: -1.4px;
  color: black;
}
