.flipCard {
  background-color: transparent;
  width: 240px;
  height: 154px;
  perspective: 1000px;
  color: white;
}

.heading_8264 {
  position: absolute;
  font-size: 1em;
  top: 0.75em;
  right: 1.5em;
  font-weight: 600;
  text-shadow: -0.2px -0.2px 0.2px white, 0.2px -0.2px 0.2px gray,
    -0.2px 0.2px 0.2px white, 0.2px 0.2px 0.2px gray;
}

.logo {
  position: absolute;
  top: 6.8em;
  left: 11.7em;
}

.chip {
  position: absolute;
  top: 3.3em;
  left: 1.5em;
}

.contactless {
  position: absolute;
  top: 3.5em;
  left: 12.4em;
}

.number {
  position: absolute;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 0.75em;
  top: 7em;
  left: 1.5em;
}

.date_8264 {
  position: absolute;
  font-weight: 600;
  font-size: 0.75em;
  top: 9em;
  left: 1.5em;
  letter-spacing: 2px;
}

.cvc_number {
  position: absolute;
  font-weight: 600;
  font-size: 0.75em;
  top: 9em;
  left: 8.5em;
  letter-spacing: 2px;
}

.cvc {
  position: absolute;
  font-weight: 600;
  font-size: 5px;
  top: 6.9rem;
  left: 8rem;
}

.exp {
  position: absolute;
  font-weight: 600;
  font-size: 5px;
  top: 6.9rem;
  left: 3.8rem;
}

.name {
  position: absolute;
  font-weight: 400;
  font-size: 8.5px;
  top: 15em;
  left: 2em;
  color: #bea35c;
}

.strip {
  position: absolute;
  background-color: white;
  width: 15em;
  height: 2.25em;
  top: 0;
  border-radius: 1rem 1rem 0 0;
}

.flipCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flipCard:hover .flipCardInner {
  transform: rotateY(180deg);
}

.flipCardFront, .flipCardBack {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 1rem;
}

.flipCardFront {
  background: linear-gradient(135deg, #edcb78, #f7e4b2, #fee08b);
  border: 1px solid fold;
}

.flipCardBack {
  background: linear-gradient(135deg, #fee08b, #f7e4b2, #edcb78);
  transform: rotateY(180deg);
}

