.flipCard {
    width: 300px;
    height: 200px;
    position: relative;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    background-color: transparent;
    perspective: 800px;
}

.flipCardInner {
    width: 100%;
    height: 100%;
    padding: 0%;
    background-color: #f0f0f0;
    box-shadow: 0 2px 3px 0 rgb(0, 0, 0, 0.5);
    border-radius: 1rem;
    transition: transform 1.5s;
    transform-style: preserve-3d;
}

.flipCard:hover .flipCardInner {
    transform: rotateY(540deg);
}

.flipCardFront, .flipCardBack {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1rem;
    overflow: hidden;
    background-color: transparent;
}

.flipCardBack {
    transform: rotateY(540deg);
}

.top, .mid, .bot {
    z-index: 1;
}

.top {
    top: 0%;
    height: 30%;
    background-color: #1c1c1e;
}

.mid {
    top: 30%;
    height: 40%;
    background-color: #f0f0f0;
}

.bot {
    top: 70%;
    height: 30%;
    background-color: #ffb003;
}

.content {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: transparent;
}

.name {
    position: absolute;
    font-size: 16.5px;
    top: 5px;
    font-family: 'Arial';
    right: 10px;
    font-weight: 550;
    color: #f0f0f0;
    word-wrap: break-word;
    overflow: hidden;
    text-align: right;
    height: 60px;
}

.avatar {
    position: absolute;
    top: 30px;
    left: 25px;
    width: 60px;
    height: 60px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    box-shadow:
        0 4px 8px rgba(0, 0, 0, 0.5),
        0 2px 4px rgba(0, 0, 0, 0.1) inset;
}

.chip {
    position: absolute;
    top: 97px;
    left: 28px;
    width: 50px;
    height: 35px;
}

.group {
    position: absolute;
    bottom: 18px;
    left: 20px;
    letter-spacing: -1.9px;
    font-family: 'Arial';
    font-size: 15px;
    font-weight: 500;
    color: #f0f0f0;
    text-shadow:
        1px 1px 0 #aaaaaa,
        -1px -1px 0 #f0f0f0,
        -1px 1px 0 #aaaaaa,
        1px -1px 0 #aaaaaa;
}

.groupBack {
    z-index: 2;
    position: absolute;
    bottom: 18px;
    right: 20px;
    letter-spacing: -1.9px;
    font-family: 'Arial';
    margin: 0;
    letter-spacing: -1.1px;
    font-size: 15px;
    font-weight: 500;
    color: #aaaaaa;
    text-shadow:
            1px 1px 0 #f0f0f0,
            -1px -1px 0 #555555,
            -1px 1px 0 #f0f0f0,
            1px -1px 0 #555555;
    transform: scaleX(-1);
}

.id {
    position: absolute;
    bottom: 18px;
    right: 18px;
    font-family: 'Arial';
    font-size: 15px;
    font-weight: 500;
    color: #f0f0f0;
    text-shadow:
            1px 1px 0 #aaaaaa,
            -1px -1px 0 #f0f0f0,
            -1px 1px 0 #aaaaaa,
            1px -1px 0 #aaaaaa;
}

.idBack {
    z-index: 2;
    position: absolute;
    bottom: 18px;
    left: 18px;
    font-family: 'Arial';
    font-size: 15px;
    font-weight: 500;
    color: #aaaaaa;
    text-shadow:
            1px 1px 0 #f0f0f0,
            -1px -1px 0 #555555,
            -1px 1px 0 #f0f0f0,
            1px -1px 0 #555555;
    transform: scaleX(-1);
}

.trustLevel {
    position: absolute;
    top: 68px;
    left: 165px;
    font-weight: 550;
    color: #ffb003;
    font-size: 20px;
}

.trustLevelName {
    position: absolute;
    top: 92px;
    left: 165px;
    font-weight: 550;
    color: #ffb003;
    font-size: 30px;
}

.title {
    position: absolute;
    top: 33px;
    right: 8px;
    font-weight: 550;
    color: #FF7043;
    font-size: 12px;
}

.back {
    z-index: 1;
    height: 100%;
    background-color: #ffb003;
}

.strip {
    z-index: 2;
    position: absolute;
    background-color: #1c1c1e;
    width: 360px;
    height: 60px;
    top: 0px;
    background: repeating-linear-gradient(
            45deg,
            #303030,
            #303030 10px,
            #202020 10px,
            #202020 20px
    );
}

.sstrip1 {
    z-index: 2;
    position: absolute;
    background-color: #f0f0f0;
    width: 80px;
    height: 20px;
    top: 80px;
    left: 20px;
    border-radius: 2.5px;
}

.mstrip1 {
    z-index: 2;
    position: absolute;
    background-color: #f0f0f0;
    width: 150px;
    height: 20px;
    top: 80px;
    left: 120px;
    border-radius: 2.5px;
}

.sstrip2 {
    z-index: 2;
    position: absolute;
    background-color: #f0f0f0;
    width: 80px;
    height: 20px;
    top: 120px;
    left: 20px;
    border-radius: 2.5px;
}

.mstrip2 {
    z-index: 2;
    position: absolute;
    background-color: #f0f0f0;
    width: 150px;
    height: 20px;
    top: 120px;
    left: 120px;
    border-radius: 2.5px;
}

.code {
    z-index: 3;
    font-weight: bold;
    text-align: center;
    font-family: 'Arial';
    font-size: 15px;
    color: #1c1c1e;
}

.suspendedLock {
    z-index: 4;
    position: absolute;
    right: 72px;
    font-size: 20px;
    font-family: 'Arial';
    font-weight: 550;
    color: red;
    text-align: center;
}