/* Overall container styling */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(135deg, #72EDF2 10%, #5151E5 100%);
    background-size: 150% 150%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    position: relative;
    box-sizing: border-box;
    user-select: none;
    animation: gradient 40s ease infinite alternate;
}

.container::before,
.container::after {
    content: '';
    width: 150%;
    aspect-ratio: 1;
    position: absolute;
    top: 95%;
    left: 0%;
    background-color:rgba(255,255,255,0.1);
    border-radius: 45% 42% 46% 48%;
    z-index: 1;
    animation: Rotate 18s linear infinite;
}

.container::after{
    left: -50%;
    border-radius: 48% 44% 43% 45%;
    background-color:rgba(255,255,255,0.2);
    animation-duration: 15s;
}

@keyframes gradient {
    0%,100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }

  @keyframes Rotate {
    50% {
      
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

/* Card styling to create a glassmorphism effect */
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.15);
    padding: 2rem 3rem;
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    animation: fadeIn 1.5s ease-in-out;
    z-index: 1;
    text-align: center;
    backdrop-filter: blur(5px);
}

/* Title styling */
.title {
    font-size: 2.5rem;
    color: #ffffff;
    margin: 2rem 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    animation: slideIn 1s ease-in-out;
}

.description {
    font-size: 1.1rem;
    color: #444;
    margin: 0px;
    font-weight: bold;
    animation: slideIn 1s ease-in-out;
    word-wrap: break-word;
}


@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Button styling */
.button {
    padding: 0.75rem 3rem;
    font-size: 1.25rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(135deg, #ff416c 0%, #ff4b2b 100%);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 15px rgba(255, 65, 108, 0.3);
    z-index: 1;
    animation: bounceIn 1.5s ease;
}

@keyframes bounceIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

/* Button hover effect */
.button:hover {
    background: linear-gradient(135deg, #ff4b2b 0%, #ff416c 100%);
    transform: translateY(-4px);
    box-shadow: 0 8px 20px rgba(255, 65, 108, 0.4);
}

/* Button active effect */
.button:active {
    background: linear-gradient(135deg, #ff4b2b 0%, #ff416c 100%);
    transform: translateY(0);
    box-shadow: 0 2px 10px rgba(255, 65, 108, 0.3);
}

/* Animation for card */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@media (max-width: 600px) {
    .title {
        font-size: 1.8rem;
    }

    .description {
        font-size: 0.8rem;
    }

}