.olympicSymbol {
    width: 800px;
    height: 300px;
    display: grid;
    place-items: center;
    position: relative;
    transform-style: preserve-3d;
    /*transform: scale(0.75);*/
}

.ring {
    width: 200px;
    height: 200px;
    border: solid 20px;
    border-radius: 50%;
    background: transparent;
    position: absolute;
}

.blue {
    left: 40px;
    border-color: #0081C8;
    transform: rotateX(-45deg) scaleY(1.42);
}

.yellow {
    top: 120px;
    left: 160px;
    border-color: #FCB131;
    transform: rotateX(0deg);
}

.black {
    left: 280px;
    border-color: #000;
    transform: rotateX(45deg) scaleY(1.41);
}

.green {
    top: 120px;
    left: 400px;
    border-color: #00A651;
    transform: translateZ(100px) rotateX(70deg) scaleY(2.93);
}

.red {
    left: 520px;
    border-color: #EE334E;
    transform: translateZ(-160px) rotateX(80deg) scaleY(5.75);
}
