.body {
    height: 300px;
    width: 800px;
    overflow: hidden;
    display: grid;
    place-content: center;
    background: #1c1c1e;

    .main {
        transform: perspective(1000px) skewY(15deg);
        transition: all 1s;
        cursor: pointer;
        scale: 20%;

        &:hover {
            transform: perspective(1000px) skewY(0);

            .h1:nth-child(2),
            .h1:nth-child(3) {
                transform: translate(-50%, -50%) skewX(0);
                left: 0;
                color: #fff;
            }
        }

        .h1 {
            margin: 0;
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(-50%, -50%);
            font-family: Microsoft Yahei, sans-serif;
            font-size: 14em;
            color: #fff;
            text-transform: uppercase;
            transform-style: preserve-3d;
            transition: all 1s;

            &:nth-child(1) {
                /* clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%); */
                mask: linear-gradient(#000 0 45%, #0000 0 100%);
            }

            &:nth-child(2) {
                color: #ffb003;
                transform: translate(-50%, -50%) skewX(-55deg);
                left: -20px;
                /* clip-path: polygon(0 45%, 100% 45%, 100% 55%, 0 55%); */
                mask: linear-gradient(#0000 0 045%, #000 0 55%, #0000 0 100%);
            }

            &:nth-child(3) {
                transform: translate(-50%, -50%) skewY(0);
                left: -42px;
                /* clip-path: polygon(0 55%, 100% 55%, 100% 100%, 0 100%); */
                mask: linear-gradient(#0000 0 55%, #000 0 100%);
            }
        }
    }
}